/* ## Style Guide

* Colors (**Pro Tip:** Use the [Eye Dropper](https://chrome.google.com/webstore/detail/eye-dropper/hmdcmlfkchdmnmnmheododdhjedfccka) Chrome extension to find the colors that are used on webpages.)
   * Teal color (used for headings and backgrounds): `#4aaaa5`
   * Regular font color (used for paragraphs and all text besides the headings): `#777777`
   * Main header background color: `#ffffff`
   * Main header border color: `#cccccc`
   * Footer background color: `#666666`
   * Main content background color: `#ffffff`
   * Main content border color: `#dddddd`

* Fonts:
   * For heading fonts use `font-family: 'Georgia', Times, 'Times New Roman', serif;`
   * For all other fonts use `'Arial', 'Helvetica Neue', Helvetica, sans-serif;`

* Profile image in `index.html`:
   * Use a picture of yourself.

* Portfolio images:
   * Save the images to your `images` folder.

* Background images:
   * The background pattern used was found on [Subtle Patterns](https://subtlepatterns.com/). You can browse through that site and use whichever pattern you like.

* Dimensions:
   * The entire content and the main section content area is `960px` wide.

   ![Recommended Dimensions](./Assets/Images/Recommended-Dimensions.png)

* Make a "sticky footer." You will notice that the dark gray footer will always rest just below the content. This is fine whenever your site has enough content to push it down past the height of most monitors. But if there isn't much content in the body, the footer could rest in the middle of the page:
   * Try to code the footer in a way that it will always remain at the bottom of the page, no matter how short the content is. Refer to this [sticky footer tutorial](https://css-tricks.com/couple-takes-sticky-footer/) for guidance.
   * Give the footer the following CSS: `border-top: 8px solid #4aaaa5;`

* Look into these concepts: `float`, `padding`, `margin`, `display`, `overflow`, `clear` and `text-align`. */


* {
    margin: 0;
    padding: 0;
}



header ul {
    list-style: none;
    text-align: center;
    padding: 30px 20px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

header li {
    float: right;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

header h1 {
    font size: 50px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    float: left;
}

header {
    height: 15vh;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 5px #cccccc solid;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h1 {
    font-size: 150%;
    color: #4aaaa5;
}
span {
    font-size: 175%;
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 20px 30px;
    display: inline-block;
    position: relative;
    right: 455px;
}

main {
    border-color: #ffffff;
    border: 3px solid #dddddd;
    padding: 10px 20px 20px;
    background: #ffffff;
}

body {
    background-image: url(../images/diamond.png) ;
}

.content-wrapper {
    max-width: 960px;
    overflow: auto;
    margin: 0 auto 100px;
}

main img {
    width: 200px;
    padding: 15px 25px 15px 0;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}
.center {
    text-align: center;
}

nav {
    width: 100%;
    float: left;
    padding: 0;
    background-color: #ffffff;
    border-bottom: 3px solid #ccc;
    margin: 0 0 2cm 0;
}

#nav ul {
    list-style: none;
    width: 960px;
    margin: 0 auto;
    padding: 0;
}

#nav li{
    float: right;
}

#nav li a {
    display: inline-block;
    padding: 25px 0 15px 30px;
    text-decoration: none;
    color: #777777;
    position: relative;
    left: 20px;
}

footer {
    background: #666666;
    border-top: 8px solid #4aaaa5;
}

footer p {     
    margin: 40px auto 0;
    color: #ffffff;
    display: inline-block;
}